@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* font-family: 'Arial', sans-serif; */
  line-height: 1.7;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

header ul li {
  color: rgb(0, 0, 0);
  /* font-family: 'Montserrat', sans-serif; */
}

.slider-1 {
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 1024px) {

  header {
    padding: 14px 50px;
  }

}